.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.intro__title {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  padding: 1rem 3rem;
  border: 0.3rem solid var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.darkmode .intro__title {
  border-color: var(--primary-color);
}
