.form__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 2rem;
  gap: 1rem;
}

.form__section-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: 37.5rem;
  margin: auto;
}

.form__row {
  display: flex;
  flex-direction: column;
}

.form__row-input {
  border-top-style: none;
  border-right-style: none;
  border-left: 0.3rem solid var(--border-color);
  border-bottom: 0.3rem solid var(--border-color);
  padding-left: 0.5rem;
  background-color: var(--primary-color);
}

.form__row:has(.form__textarea) {
  grid-column: span 2;
}

.btn--form {
  grid-column: span 2;
  padding: 0.75rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 0.3rem solid var(--border-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn--form:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
  font-weight: bold;
}

.form__section {
  padding: 3rem 0;
}

.form__textarea {
  height: 10rem;
}

@media screen and (max-width: 48rem) {
  .form {
    max-width: 30rem;
  }

}