.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 1rem;
  padding: 2rem 0;
}

.card-grid__title {
  grid-column: 1 / 2;
  grid-row: 1;
  align-self: center;
  text-align: start;
  margin-left: 5rem;
  text-transform: uppercase;
}

.card-grid__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-column: 1 / -1;
  grid-row: 2;
}

.card {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
  text-align: center;
  padding: 1rem;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card__image {
  margin: 0 auto;
  max-width: 5rem;
  transition: 0.3s;
}

.card__title {
  text-transform: uppercase;
  font-weight: var(--font-weight-regular);
}
