@import url("./variables/variables.css");
@import url("./themes/color-scheme.css");
@import url("./layout/navbar.css");
@import url("./layout/hero.css");
@import url("./components/dialog.css");
@import url("./layout/intro.css");
@import url("./components/buttons.css");
@import url("./layout/footer.css");
@import url("./pages/about.css");
@import url("./components/card.css");
@import url("./layout/form.css");
@import url("./layout/gallery-filters.css");
@import url("./layout/gallery.css");
@import url("./components/hamburger.css");
@import url("./animations/marquee.css");
@import url("./animations/fade-in.css");
@import url("./animations/view-transition.css");
@import url("./animations/logo-animation.css");

html {
  font-family: "Inter", sans-serif;
}

html, body {
  min-height: 100vh;
  min-height: 100svh;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: .3s ease;
}

main {
  flex-grow: 1;
}

.darkmode {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  transition: .3s ease;
}

.header__logo,
.header__theme-switcher-icon {
  fill: var(--secondary-color);
  transition: fill 0.3s ease;
}

.header__theme-switcher-icon {
  color: var(--primary-color);
}

.darkmode .header__logo,
.darkmode .header__theme-switcher-icon {
  fill: var(--primary-color);
}

.darkmode .item {
  color: var(--primary-color);
}

.skip-to-content {
  position: absolute;
  top: -40px;
  left: 0;
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: var(--spacing-sm);
  z-index: 2;
  transition: top 0.3s;
}

.skip-to-content:focus {
  top: 0;
}

.hidden {
  display: none;
  pointer-events: none;
}

body.no-scroll {
  overflow: hidden;
}