.about__carousel {
  position: relative;
  width: 18rem;
  height: 18rem;
  margin: 2rem auto;
}

.about__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.about__card {
  position: absolute;
  top: 0;
  left: 120%;
  width: 100%; height: 100%;
  border-radius: 1rem;
  box-shadow: 0 4px 24px rgba(0,0,0,0.15);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 
    transform 0.7s cubic-bezier(.4,2,.6,1),
    opacity 0.7s;
  opacity: 1;
  z-index: 1;
}

.about__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.about__card {
  transform: scale(0.85) translateX(3rem);
  opacity: 0.7;
}

.about__card.prev {
  transform: scale(0.85) translateX(-3rem);
  z-index: 2;
  opacity: 0.7;
}

.about__card.active {
  transform: scale(1) translateX(0);
  z-index: 3;
  opacity: 1;
}

.about__card.next {
  transform: scale(0.85) translateX(3rem);
  z-index: 2;
  opacity: 0.7;
}

.about__carousel-texts {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: left;
  min-height: 18rem;
}

.about__card-text {
  display: none;
}

.about__card-text.active {
  display: block;
}

.action-buttons-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    align-items: center;
}

.play-pause-wrapper {
    position: relative;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    cursor: pointer;
}

.btn__prev,
.btn__next {
    cursor: pointer;
}

.btn__pause,
.btn__play {
    position: absolute;
    left: 0;
    top: 0;
    width: 2rem;
    height: 2rem;
    display: block;
    transition: opacity 0.2s;
    cursor: pointer;
    text-align: center;
}

.btn__play {
    opacity: 0;
    pointer-events: none;
}

.paused .btn__pause {
    opacity: 0;
    pointer-events: none;
}
.paused .btn__play {
    opacity: 1;
    pointer-events: auto;
}


@media (max-width: 48rem) {
    .about__card {
    position: absolute;
    top: -12%;
    left: 19%;
    width: 60%; height: 60%;
    border-radius: 1rem;
    box-shadow: 0 4px 24px rgba(0,0,0,0.15);
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 
        transform 0.7s cubic-bezier(.4,2,.6,1),
        opacity 0.7s;
    opacity: 1;
    z-index: 1;
    }

    .about__carousel-texts {
        min-height: 30rem;
        text-align: center;
    }
}