.fade-in {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fade-in-time {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timeline: view(block);
  animation-range: entry 0% cover 40%;
}

.fade-in-time:nth-of-type(2) {
  animation-range: entry -20% cover 40%;
}

.fade-in-time:nth-of-type(3) {
  animation-range: entry -20% cover 40%;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 48rem) {
  .fade-in-time {
    animation: none !important;
    opacity: 1;
    transform: none;
  }
}
.fade-in-skills {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timeline: view(block);
  animation-range: entry 20% cover 90%;
}

@media (max-width: 48rem) {
  .fade-in-skills {
    animation: none !important;
    opacity: 1;
    transform: none;
  }
}